.card_deals{
    min-height: 100vh;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-heading{
    font-size: 40px;
    font-weight: 500;
}

.card_deals-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.card_deals-img{
    flex: 1;
}

.card_deals-img img{
    width: 100%;
}

@media screen and (min-width:2000px){
    .card_deals-img img{
        width: 80%;
    }
    .content-heading{
        font-size: 60px;
    }
    .content-text{
        font-size: 30px;
    }
}

@media screen and (max-width:850px){

    .card_deals{
        flex-direction: column;
        padding: 2rem;
    }
    .content-heading{
        font-size: 30px;
    }
    .content-text{
        font-size: 15px;
    }
}